src/flows.json
[{"id":"07e2aa49e3deb1e7","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f056a0f8c64e5d83","type":"comment","z":"07e2aa49e3deb1e7","name":"Read metadata","info":"","x":260,"y":120,"wires":[]},{"id":"10bcb49624a03118","type":"mqtt in","z":"07e2aa49e3deb1e7","name":"","topic":"ie/m/j/simatic/v1/custom1/dp","qos":"2","datatype":"json","broker":"8c94ade4.e9442","nl":false,"rap":false,"inputs":0,"x":340,"y":160,"wires":[["99d18a5d1930fd4f"]]},{"id":"99d18a5d1930fd4f","type":"debug","z":"07e2aa49e3deb1e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"16083e7fbec1c9b8","type":"comment","z":"07e2aa49e3deb1e7","name":"Write data","info":"","x":240,"y":480,"wires":[]},{"id":"4fa5661afd29e8d0","type":"mqtt in","z":"07e2aa49e3deb1e7","name":"","topic":"ie/d/j/simatic/v1/custom1/dp/r/Connection_1/Collection_1","qos":"2","datatype":"json","broker":"8c94ade4.e9442","nl":false,"rap":false,"inputs":0,"x":430,"y":280,"wires":[["654fae81dc5b8cef"]]},{"id":"654fae81dc5b8cef","type":"debug","z":"07e2aa49e3deb1e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":280,"wires":[]},{"id":"f92fe1d6ca800412","type":"comment","z":"07e2aa49e3deb1e7","name":"Read output data","info":"","x":260,"y":240,"wires":[]},{"id":"a502d7cce4cdcd4c","type":"mqtt in","z":"07e2aa49e3deb1e7","name":"","topic":"ie/s/j/simatic/v1/custom1/status","qos":"2","datatype":"json","broker":"8c94ade4.e9442","nl":false,"rap":false,"inputs":0,"x":350,"y":400,"wires":[["e55dc5e3d4655631"]]},{"id":"e55dc5e3d4655631","type":"debug","z":"07e2aa49e3deb1e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":400,"wires":[]},{"id":"0af9f47c698f2453","type":"comment","z":"07e2aa49e3deb1e7","name":"Read status","info":"","x":250,"y":360,"wires":[]},{"id":"bbdecdd64c262aa9","type":"template","z":"07e2aa49e3deb1e7","name":"Value-Template","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"Bool_Val,Int_Val,Real_Val\ntrue,1,1.123\nfalse,2,2.123\ntrue,3,3.123\nfalse,4,4.123\ntrue,5,5.123\nfalse,6,6.123\ntrue,7,7.123\nfalse,8,8.123\ntrue,9,9.123\nfalse,10,10.123","output":"str","x":420,"y":540,"wires":[["955e9ae272f394c1"]]},{"id":"ed91035127897e03","type":"function","z":"07e2aa49e3deb1e7","name":"Create data payload","func":"var values=global.get(\"values\")\nvar iterator=global.get(\"iterator\")\n\nif(iterator < values.length)\n{\n    var timestamp = new Date().toISOString()\n    dataObject = \n    {\n    \"seq\": (iterator+1),\n    \"vals\":[\n        {\n            \"id\":\"101\",\n            \"qc\":3,\n            \"ts\":timestamp,\n            \"val\":values[iterator].Bool_Val\n        },\n        {\n            \"id\":\"102\",\n            \"qc\":3,\n            \"ts\":timestamp,\n            \"val\":values[iterator].Int_Val\n        },\n        {\n            \"id\":\"103\",\n            \"qc\":3,\n            \"ts\":timestamp,\n            \"val\":values[iterator].Real_Val\n        }]\n    }\n    \n    iterator = iterator + 1;\n    global.set(\"iterator\", iterator);\n    msg.payload=dataObject;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":540,"wires":[["7b1de43c2d266a04","79ed4df4779cde0a","982117b80fd0b966"]]},{"id":"77adeb58366e313e","type":"inject","z":"07e2aa49e3deb1e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":540,"wires":[["bbdecdd64c262aa9"]]},{"id":"955e9ae272f394c1","type":"csv","z":"07e2aa49e3deb1e7","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":570,"y":540,"wires":[["68f34a4708cf1c09"]]},{"id":"7b1de43c2d266a04","type":"mqtt out","z":"07e2aa49e3deb1e7","name":"","topic":"ie/d/j/simatic/v1/custom1/dp/w/Connection_1/Collection_1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8c94ade4.e9442","x":1330,"y":460,"wires":[]},{"id":"79ed4df4779cde0a","type":"debug","z":"07e2aa49e3deb1e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":520,"wires":[]},{"id":"982117b80fd0b966","type":"delay","z":"07e2aa49e3deb1e7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":940,"y":640,"wires":[["ed91035127897e03"]]},{"id":"68f34a4708cf1c09","type":"function","z":"07e2aa49e3deb1e7","name":"Init Values","func":"global.set(\"values\", msg.payload);\nglobal.set(\"iterator\", 0)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":540,"wires":[["ed91035127897e03"]]},{"id":"8c94ade4.e9442","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]